<main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

        {{!-- API routes should go here --}}
        <div class="card m-3 rounded-3 shadow-sm" style="width:25rem;">
            <div class="card-body">
                <h1 class="card-title py-3">Part name</h1>
                <table class="table">
                    <thead>
                        <tr class="text-start">
                            <th scope="col">Info:</th>
                            <td class="text-end">this.car.desc</td>
                        </tr>
                        <tr class="text-start">
                            <th scope="col">Info:</th>
                            <td class="text-end">this.car.desc</td>
                        </tr>
                        <tr class="text-start">
                            <th scope="col">Info:</th>
                            <td class="text-end">this.car.desc</td>
                        </tr>
                        <tr class="text-start">
                            <th scope="col">Info:</th>
                            <td class="text-end">this.car.desc</td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="card-body text-end">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Add to cart
                </button>
            </div>
        </div>
        <div class="card m-3 rounded-3 shadow-sm" style="width:25rem;">
            <div class="card-body">
                <h1 class="card-title py-3">Part name</h1>
                <table class="table">
                    <thead>
                        <tr class="text-start">
                            <th scope="col">Info:</th>
                            <td class="text-end">this.car.desc</td>
                        </tr>
                        <tr class="text-start">
                            <th scope="col">Info:</th>
                            <td class="text-end">this.car.desc</td>
                        </tr>
                        <tr class="text-start">
                            <th scope="col">Info:</th>
                            <td class="text-end">this.car.desc</td>
                        </tr>
                        <tr class="text-start">
                            <th scope="col">Info:</th>
                            <td class="text-end">this.car.desc</td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="card-body text-end">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Add to cart
                </button>
            </div>
        </div>
        <div class="card m-3 rounded-3 shadow-sm" style="width:25rem;">
            <div class="card-body">
                <h1 class="card-title py-3">Part name</h1>
                <table class="table">
                    <thead>
                        <tr class="text-start">
                            <th scope="col">Info:</th>
                            <td class="text-end">this.car.desc</td>
                        </tr>
                        <tr class="text-start">
                            <th scope="col">Info:</th>
                            <td class="text-end">this.car.desc</td>
                        </tr>
                        <tr class="text-start">
                            <th scope="col">Info:</th>
                            <td class="text-end">this.car.desc</td>
                        </tr>
                        <tr class="text-start">
                            <th scope="col">Info:</th>
                            <td class="text-end">this.car.desc</td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="card-body text-end">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Add to cart
                </button>
            </div>
        </div>

    </div>
</main>