<main>
    <div class="row justify-content-between">
        <div class="col-5 py-4 mb-5">
            <h1>Checkout</h1>

            <form class="py-4">
                <h3>Contact</h3>
                <div class="input-group">
                    <div class="form-floating my-2">
                        <input id="firstNameLabel" type="text" class="form-control" placeholder="firstName">
                        <label for="firstNameLabel">First name</label>
                    </div>
                    <div class="form-floating my-2">
                        <input id="firstNameLabel" type="text" class="form-control" placeholder="lastName">
                        <label for="firstNameLabel">Last name</label>
                    </div>
                </div>

                <div class="form-floating my-3">
                    <input type="email" class="form-control" id="checkoutEmail" placeholder="email">
                    <label for="checkoutEmail">Email address</label>
                </div>

                {{!-- Delivery --}}
                <h3 class="mt-5 mb-3">Delivery</h3>

                <ul class="list-group mb-3">
                    <li class="list-group-item">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radioDefault" id="addrSpec">
                            <label class="form-check-label" for="addrSpec">
                                <h5 class="mx-2 mb-0">Specified address</h5>
                                <small class="text-muted mx-2">Delivers directly to your specified address.</small>
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radioDefault" id="addrLoc">
                            <label class="form-check-label" for="addrLoc">
                                <h5 class="mx-2 mb-0">Local Store</h5>
                                <small class="text-muted mx-2">Delivers to your local store.</small>
                            </label>
                        </div>
                    </li>
                </ul>

                <div class="form-floating my-2">
                    <input type="text" class="form-control" id="addressLabel" placeholder="address">
                    <label for="addressLabel">Address</label>
                </div>
                <div class="form-floating my-2">
                    <input type="text" class="form-control" id="address2Label" placeholder="address2">
                    <label for="address2Label">Address 2 (Apt, Unit, Suite)</label>
                </div>

                <div class="form-floating my-2">
                    <input id="cityLabel" type="text" class="form-control" placeholder="city">
                    <label for="cityLabel">City</label>
                </div>


                <div class="input-group">
                    <div class="form-floating my-2">
                        <select name="state" class="form-select" id="state" placeholder="State" required>
                            <option value="" selected disabled>Select state</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                        <label for="stateLabel">State</label>
                    </div>
                    <div class="form-floating my-2">
                        <input id="zipLabel" type="number" class="form-control" placeholder="zip">
                        <label for="zipLabel">Zip Code</label>
                    </div>
                </div>

                <div class="form-floating">
                    <select class="form-select" name="country" id="countryLabel" placeholder="Country">
                        <option disabled>Country/Region</option>
                        <option value="US" selected>United States</option>
                    </select>
                    <label for="countryLabel">Country/Region</label>
                </div>

                {{!-- Shipping --}}
                <h3 class="mt-5 mb-3">Shipping</h3>
                <ul class="list-group mb-3">
                    <li class="list-group-item">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radioDefault" id="econRadio">
                            <label class="form-check-label" for="econRadio">
                                <h5 class="mx-2">Economy</h5>
                                <small class="text-muted mx-2">Ships in 5-7 business days</small>
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radioDefault" id="expressRadio">
                            <label class="form-check-label" for="expressRadio">
                                <h5 class="mx-2">Express</h5>
                                <small class="text-muted mx-2">Ships in 1-3 business days</small>
                            </label>
                        </div>
                    </li>
                </ul>

            </form>

        </div>

        {{!-- Cart --}}
        <div class="col-4 py-4 mb-5">
            <h2 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your Cart</span>
                <span class="badge text-bg-secondary rounded-pill">3</span>
            </h2>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div class="mx-1">
                        <h5 class="my-0 ">Product name</h5>
                        <small class="text-muted">Description</small>
                    </div>
                    <span class="text-muted">$12</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div class="mx-1">
                        <h5 class="my-0 ">Product name</h5>
                        <small class="text-muted">Description</small>
                    </div>
                    <span class="text-muted">$12</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div class="mx-1">
                        <h5 class="my-0 ">Product name</h5>
                        <small class="text-muted">Description</small>
                    </div>
                    <span class="text-muted">$12</span>
                </li>

                {{!-- Total calculations --}}
                <li class="list-group-item d-flex justify-content-between p-4">
                    <span>
                        <h4>Total (USD)</h4>
                    </span>
                    <h5><strong>$20</strong></h5>
                </li>
            </ul>
        </div>
</main>